In [1]:
import pandas as pd
import warnings
import matplotlib.pyplot as plt
%matplotlib inline
import mglearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler  
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import datetime
from pprint import pprint
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.linear_model import Lasso
from operator import itemgetter 
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor

/Users/rhonanbennett/opt/anaconda3/lib/python3.7/site-packages/sklearn/externals/six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)
/Users/rhonanbennett/opt/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [2]:
df = pd.read_csv('new2.csv', index_col = 0)
df.info()
df.head()

df.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28415 entries, 0 to 28417
Data columns (total 5 columns):
neighbourhood    28415 non-null object
latitude         28415 non-null float64
longitude        28415 non-null float64
room_type        28415 non-null object
price            28415 non-null int64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.3+ MB

(28415, 5)

In [3]:
# removing the irrelevant columns
cols_to_drop = ["latitude", "longitude"]
df = df.drop(columns=cols_to_drop,axis=1)

df.head()

               neighbourhood        room_type  price
0                    Nrrebro     Private room    373
1                   Indre By  Entire home/apt   2397
2                   Indre By  Entire home/apt   3103
3  Vesterbro-Kongens Enghave  Entire home/apt    801
4                    sterbro  Entire home/apt    862

In [7]:
deep_df = df.copy(deep = True)

In [8]:
numericdatax = pd.get_dummies(deep_df, columns= ['room_type', 'neighbourhood'], drop_first=True)
numericdatax.head()

,price,room_type_Hotel room,room_type_Private room,room_type_Shared room,neighbourhood_Amager st,neighbourhood_Bispebjerg,neighbourhood_Brnshj-Husum,neighbourhood_Frederiksberg,neighbourhood_Indre By,neighbourhood_Nrrebro,neighbourhood_Valby,neighbourhood_Vanlse,neighbourhood_Vesterbro-Kongens Enghave,neighbourhood_sterbro
0,373,0,1,0,0,0,0,0,0,1,0,0,0,0
1,2397,0,0,0,0,0,0,0,1,0,0,0,0,0
2,3103,0,0,0,0,0,0,0,1,0,0,0,0,0
3,801,0,0,0,0,0,0,0,0,0,0,0,1,0
4,862,0,0,0,0,0,0,0,0,0,0,0,0,1

In [9]:
x = numericdatax
y = deep_df['price']

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y,  test_size = 0.2, random_state = 1)

print (x_train.shape, y_train.shape)
print (x_test.shape, y_test.shape)

(22732, 14) (22732,)
(5683, 14) (5683,)

In [11]:
MLPC = MLPClassifier (max_iter=1000)
MLPC.fit(x_train, y_train)

print (MLPC)

print ("MLPC train score:", MLPC.score (x_train, y_train, sample_weight = None))

print ("MLPC test score:", MLPC.score (x_test, y_test, sample_weight = None))

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100,), learning_rate='constant',
              learning_rate_init=0.001, max_iter=1000, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=None, shuffle=True, solver='adam', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)
MLPC train score: 0.442240014077072
MLPC test score: 0.43216610944923456

In [16]:
from sklearn.semi_supervised import LabelSpreading

label = LabelSpreading()
label.fit (x_train, y_train)

print (label)

print ("MLPC train score:", label.score (x_train, y_train, sample_weight = None))

print ("MLPC test score:", label.score (x_test, y_test, sample_weight = None))

LabelSpreading(alpha=0.2, gamma=20, kernel='rbf', max_iter=30, n_jobs=None,
               n_neighbors=7, tol=0.001)
MLPC train score: 1.0
MLPC test score: 0.9876825620270984

/Users/rhonanbennett/opt/anaconda3/lib/python3.7/site-packages/sklearn/semi_supervised/label_propagation.py:201: RuntimeWarning: divide by zero encountered in true_divide
  probabilities /= normalizer
/Users/rhonanbennett/opt/anaconda3/lib/python3.7/site-packages/sklearn/semi_supervised/label_propagation.py:201: RuntimeWarning: invalid value encountered in true_divide
  probabilities /= normalizer