In [34]:
import pandas as pd
import warnings
import matplotlib.pyplot as plt
%matplotlib inline
import mglearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler  
from sklearn.neural_network import MLPClassifier
from sklearn.datasets import load_breast_cancer
from sklearn.manifold import TSNE
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPClassifier
from sklearn.decomposition import PCA
from sklearn import metrics
import datetime
from alpha_vantage.timeseries import TimeSeries
from pprint import pprint
import ta
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.linear_model import Lasso
import warnings
from operator import itemgetter 
from sklearn.tree import DecisionTreeClassifier

In [35]:
df = pd.read_csv('new2.csv', index_col = 0)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28415 entries, 0 to 28417
Data columns (total 5 columns):
neighbourhood    28415 non-null object
latitude         28415 non-null float64
longitude        28415 non-null float64
room_type        28415 non-null object
price            28415 non-null int64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.3+ MB

               neighbourhood  latitude  longitude        room_type  price
0                    Nrrebro  55.68798   12.54571     Private room    373
1                   Indre By  55.69163   12.57459  Entire home/apt   2397
2                   Indre By  55.67590   12.57698  Entire home/apt   3103
3  Vesterbro-Kongens Enghave  55.67069   12.55430  Entire home/apt    801
4                    sterbro  55.69375   12.56945  Entire home/apt    862

In [36]:
numericdatax = pd.get_dummies(df_free, columns= ['room_type', 'neighbourhood'], drop_first=True)
numericdatax.head()

,price,room_type_Hotel room,room_type_Private room,room_type_Shared room,neighbourhood_Amager st,neighbourhood_Bispebjerg,neighbourhood_Brnshj-Husum,neighbourhood_Frederiksberg,neighbourhood_Indre By,neighbourhood_Nrrebro,neighbourhood_Valby,neighbourhood_Vanlse,neighbourhood_Vesterbro-Kongens Enghave,neighbourhood_sterbro
0,373,0,1,0,0,0,0,0,0,1,0,0,0,0
1,2397,0,0,0,0,0,0,0,1,0,0,0,0,0
2,3103,0,0,0,0,0,0,0,1,0,0,0,0,0
3,801,0,0,0,0,0,0,0,0,0,0,0,1,0
4,862,0,0,0,0,0,0,0,0,0,0,0,0,1

In [37]:
x = numericdatax
y = df_free['price']

In [38]:
x_train, x_test, y_train, y_test = train_test_split(x, y,  test_size = 0.2, random_state = 1)

print (x_train.shape, y_train.shape)
print (x_test.shape, y_test.shape)

(22732, 14) (22732,)
(5683, 14) (5683,)

In [39]:
ran_forest = RandomForestClassifier(n_estimators=5, random_state=0)
ran_forest.fit(x_train, y_train)

print ("ran_forest train score:", ran_forest.score (x_train, y_train, sample_weight = None))
print ("ran_forest test score:", ran_forest.score (x_test, y_test, sample_weight = None))

ran_forest train score: 0.9835474221361957
ran_forest test score: 0.9132500439908499

In [40]:
training_accuracy = dict()
test_accuracy = dict()

max_features_settings = range(1,21) 

for max_features in max_features_settings:
    key = str(max_features)
    ran_forest = RandomForestClassifier(n_estimators=max_features, random_state=0)
    ran_forest.fit(x_train, y_train)
    
    value = ran_forest.score(x_train, y_train)
    training_accuracy[key] = value
    
    value = ran_forest.score(x_test, y_test)
    test_accuracy[key] = value
    
print ("Test  Train  Max_features")
for key in sorted(test_accuracy, key=test_accuracy.get, reverse=True):
    print ("{:.4f}, {:.4f}, {}"
          .format(test_accuracy[key], training_accuracy[key], key))

Test  Train  Max_features
0.9217, 0.9962, 20
0.9212, 0.9957, 17
0.9212, 0.9960, 19
0.9208, 0.9945, 14
0.9205, 0.9949, 16
0.9205, 0.9957, 18
0.9203, 0.9946, 15
0.9199, 0.9937, 13
0.9185, 0.9929, 12
0.9180, 0.9922, 11
0.9168, 0.9912, 10
0.9166, 0.9906, 9
0.9164, 0.9898, 8
0.9138, 0.9861, 6
0.9133, 0.9835, 5
0.9127, 0.9883, 7
0.9101, 0.9807, 4
0.9062, 0.9743, 3
0.8949, 0.9605, 1
0.8949, 0.9607, 2

In [41]:
training_accuracy = dict()
test_accuracy = dict()

max_features_settings = range(1,21) 

for max_features in max_features_settings:
    key = str(max_features)
    ran_forest = RandomForestRegressor(n_estimators=max_features, random_state=0)
    ran_forest.fit(x_train, y_train)
    
    value = ran_forest.score(x_train, y_train)
    training_accuracy[key] = value
    
    value = ran_forest.score(x_test, y_test)
    test_accuracy[key] = value
    
print ("Test  Train  Max_features")
for key in sorted(test_accuracy, key=test_accuracy.get, reverse=True):
    print ("{:.4f}, {:.4f}, {}"
          .format(test_accuracy[key], training_accuracy[key], key))

Test  Train  Max_features
0.9898, 0.9001, 5
0.9885, 0.8867, 6
0.9884, 0.9122, 4
0.9874, 0.8787, 7
0.9858, 0.9303, 3
0.9857, 0.9267, 11
0.9851, 0.9383, 12
0.9845, 0.9473, 13
0.9845, 0.9114, 10
0.9844, 0.8616, 8
0.9842, 0.8906, 9
0.9834, 0.9515, 16
0.9825, 0.9448, 15
0.9821, 0.9366, 14
0.9814, 0.9613, 18
0.9811, 0.9561, 19
0.9809, 0.9567, 17
0.9809, 0.9602, 20
0.9797, 0.9599, 2
0.9733, 0.8416, 1

In [27]:
training_accuracy = dict()
test_accuracy = dict()

max_depth_settings = range(1,30) 

for max_depth in max_depth_settings:
    key = str(max_depth)
    tree = DecisionTreeClassifier(random_state=0, max_depth=max_depth)
    tree.fit(x_train, y_train)
    
    value = tree.score(x_train, y_train)
    training_accuracy[key] = value
    
    value = tree.score(x_test, y_test)
    test_accuracy[key] = value
    
print ("Test  Train  Max_Depth")
for key in sorted(test_accuracy, key=test_accuracy.get, reverse=True):
    print ("{:.4f}, {:.4f}, {}"
          .format(test_accuracy[key], training_accuracy[key], key))

Test  Train  Max_Depth
0.9926, 0.9986, 25
0.9926, 0.9991, 26
0.9924, 0.9994, 27
0.9924, 0.9996, 28
0.9924, 0.9998, 29
0.9910, 0.9965, 23
0.9910, 0.9978, 24
0.9900, 0.9945, 22
0.9875, 0.9925, 21
0.9852, 0.9896, 20
0.9821, 0.9858, 19
0.9785, 0.9791, 18
0.9701, 0.9699, 17
0.9601, 0.9585, 16
0.9419, 0.9424, 15
0.9194, 0.9196, 14
0.8900, 0.8887, 13
0.8534, 0.8486, 12
0.8010, 0.7988, 11
0.7498, 0.7482, 10
0.6952, 0.6935, 9
0.6338, 0.6338, 8
0.5671, 0.5711, 7
0.4888, 0.4889, 6
0.3530, 0.3603, 5
0.2650, 0.2656, 4
0.1943, 0.2016, 3
0.1309, 0.1369, 2
0.0700, 0.0747, 1

In [31]:
MLPC = MLPClassifier (max_iter=500)
MLPC.fit(x_train, y_train)

print (MLPC)

print ("MLPC train score:", MLPC.score (x_train, y_train, sample_weight = None))

print ("MLPC test score:", MLPC.score (x_test, y_test, sample_weight = None))

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100,), learning_rate='constant',
              learning_rate_init=0.001, max_iter=500, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=None, shuffle=True, solver='adam', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)
MLPC train score: 0.3940260425831427
MLPC test score: 0.37093084638395213