In [29]:
import pandas as pd
import warnings
import matplotlib.pyplot as plt
%matplotlib inline
import mglearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler  
from sklearn.neural_network import MLPClassifier
from sklearn.datasets import load_breast_cancer
from sklearn.manifold import TSNE
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPClassifier
from sklearn.decomposition import PCA
from sklearn import metrics
import datetime
from alpha_vantage.timeseries import TimeSeries
from pprint import pprint
import ta
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.linear_model import Lasso
import warnings
from operator import itemgetter 
from sklearn.tree import DecisionTreeClassifier

In [30]:
df = pd.read_csv('new2.csv', index_col = 0)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28415 entries, 0 to 28417
Data columns (total 5 columns):
neighbourhood    28415 non-null object
latitude         28415 non-null float64
longitude        28415 non-null float64
room_type        28415 non-null object
price            28415 non-null int64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.3+ MB

               neighbourhood  latitude  longitude        room_type  price
0                    Nrrebro  55.68798   12.54571     Private room    373
1                   Indre By  55.69163   12.57459  Entire home/apt   2397
2                   Indre By  55.67590   12.57698  Entire home/apt   3103
3  Vesterbro-Kongens Enghave  55.67069   12.55430  Entire home/apt    801
4                    sterbro  55.69375   12.56945  Entire home/apt    862

In [31]:
cols_to_drop = ["neighbourhood", "latitude", "longitude" ]
df_free = df.drop(columns=cols_to_drop,axis=1)

df_free.head()

         room_type  price
0     Private room    373
1  Entire home/apt   2397
2  Entire home/apt   3103
3  Entire home/apt    801
4  Entire home/apt    862

In [32]:
numericdatax = pd.get_dummies(df_free, columns= ['room_type'], drop_first=True)
numericdatax.head()

   price  room_type_Hotel room  room_type_Private room  room_type_Shared room
0    373                     0                       1                      0
1   2397                     0                       0                      0
2   3103                     0                       0                      0
3    801                     0                       0                      0
4    862                     0                       0                      0

In [33]:
x = numericdatax
y = df_free['price']

In [34]:
x_train, x_test, y_train, y_test = train_test_split(x, y,  test_size = 0.2, random_state = 1)

print (x_train.shape, y_train.shape)
print (x_test.shape, y_test.shape)

(22732, 4) (22732,)
(5683, 4) (5683,)

In [35]:
ran_forest = RandomForestClassifier(n_estimators=5, random_state=0)
ran_forest.fit(x_train, y_train)

print ("ran_forest train score:", ran_forest.score (x_train, y_train, sample_weight = None))
print ("ran_forest test score:", ran_forest.score (x_test, y_test, sample_weight = None))

ran_forest train score: 0.9973605490058068
ran_forest test score: 0.9880344888263242

In [38]:
training_accuracy = dict()
test_accuracy = dict()

max_features_settings = range(1,21) 

for max_features in max_features_settings:
    key = str(max_features)
    ran_forest = RandomForestClassifier(n_estimators=max_features, random_state=0)
    ran_forest.fit(x_train, y_train)
    
    value = ran_forest_ran.score(x_train, y_train)
    training_accuracy[key] = value
    
    value = ran_forest.score(x_test, y_test)
    test_accuracy[key] = value
    
print ("Test  Train  Max_features")
for key in sorted(test_accuracy, key=test_accuracy.get, reverse=True):
    print ("{:.4f}, {:.4f}, {}"
          .format(test_accuracy[key], training_accuracy[key], key))

Test  Train  Max_features
0.9898, 0.9974, 20
0.9896, 0.9974, 16
0.9896, 0.9974, 18
0.9896, 0.9974, 19
0.9894, 0.9974, 13
0.9894, 0.9974, 17
0.9893, 0.9974, 15
0.9891, 0.9974, 11
0.9889, 0.9974, 7
0.9889, 0.9974, 12
0.9889, 0.9974, 14
0.9887, 0.9974, 9
0.9886, 0.9974, 10
0.9884, 0.9974, 6
0.9884, 0.9974, 8
0.9882, 0.9974, 4
0.9880, 0.9974, 3
0.9880, 0.9974, 5
0.9863, 0.9974, 2
0.9861, 0.9974, 1

In [37]:
training_accuracy = dict()
test_accuracy = dict()

max_features_settings = range(1,21) 

for max_features in max_features_settings:
    key = str(max_features)
    ran_forest = RandomForestRegressor(n_estimators=max_features, random_state=0)
    ran_forest.fit(x_train, y_train)
    
    value = ran_forest.score(x_train, y_train)
    training_accuracy[key] = value
    
    value = ran_forest.score(x_test, y_test)
    test_accuracy[key] = value
    
print ("Test  Train  Max_features")
for key in sorted(test_accuracy, key=test_accuracy.get, reverse=True):
    print ("{:.4f}, {:.4f}, {}"
          .format(test_accuracy[key], training_accuracy[key], key))

Test  Train  Max_features
0.9898, 0.9001, 5
0.9896, 0.8891, 6
0.9895, 0.8831, 7
0.9884, 0.9122, 4
0.9882, 0.8784, 8
0.9876, 0.9536, 13
0.9876, 0.9601, 16
0.9876, 0.9546, 15
0.9875, 0.9457, 12
0.9874, 0.9637, 19
0.9874, 0.9038, 9
0.9873, 0.9684, 18
0.9873, 0.9355, 11
0.9872, 0.9646, 17
0.9872, 0.9672, 20
0.9870, 0.9479, 14
0.9864, 0.9220, 10
0.9858, 0.9303, 3
0.9797, 0.9599, 2
0.9733, 0.8416, 1